{% extends 'downloader/base.html' %}

{% block content %}
    <div>
        <h1>DownTube</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quaerat officia quisquam necessitatibus quas, totam omnis exercitationem molestiae recusandae, rerum similique optio ratione magni architecto repudiandae dolorum laborum officiis dolorem!</p>
    </div>

    <div>
        <fieldset>
            <input class='search-input' type="search" name='search' id='search-input' value='{{ search_value }}' placeholder="Pesquisar">
        </fieldset>
    </div>


{% endblock content %}